# The directory of this file
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"

export PYTHONPATH="$PYTHONPATH":"$DIR"

export PATH="$DIR"/target/scala-2.13/resource_managed/main/apalache/exec/bin:$PATH
